<ion-view>
    <ion-nav-title>Exercise</ion-nav-title>
	<ion-header-bar class="bar-light bar-subheader">
		<input type="search" placeholder="Search name or company" ng-model="search" />
		<button class="button button-icon ion-android-close input-button" ng-click="clearSearch()"></button>
    </ion-header-bar>
    <ion-content has-header="true" padding="false">
        <ion-list>
			<ion-item ng-repeat="user in users | filter:search" href="#/users/{{ user.id }}" class="item item-thumbnail-left usersList">
				<img ng-src="{{ user.image }}">
				<h1>{{ user.name }}</h1>
				<h2>{{ user.company.name }}</h2>
				<p>view more</p>
			</ion-item>
        </ion-list>
    </ion-content>
</ion-view>